[package]
name = "tttable"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
log = "*"
env_logger = "*"
itertools = "0.10.3"
rand = { version = "0.8.5", features = ["alloc"] }
